body {
	font-family: 'Playfair Display', Times, Baskerville, Georgia, serif;
}

.navbar-logo {
	height: 2.5em;
}

.navbar-default {
	height: 5em;
	background: white;
	border: 0px;
	box-shadow: 0 0 10px rgba(55,55,55,0.5);
}

header, footer {
	text-align: center;
	background: #C0B283;
	color: white;
	position: fixed;
	left: 0;
	right: 0;
}

header {
	top: 0;
	height: 28em;
	padding-top: 8em;
	z-index: -2000;
}

footer {
	bottom: 0;
	height: 11em;
	padding-top: 2em;
	font-size: 1.5em;
	z-index: -1000;
}

footer p {
	padding: 1em;
}

footer a,
footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
	text-decoration: underline;
	color: white;
}

section {
	margin: 2em 0;
}

h1 {
	height: 150px;
	background: url(logo_white.svg) 50% no-repeat;
	text-indent: -9999px;
}

h2 {
	margin-top: 0;
}

.subtitle {
	font-size: 1.5em;
	padding-top: 1em;
}

.outer-container {
	margin: 28em 0 14em;
	background-color: white;
	box-shadow: 0 0 10px rgba(55,55,55,0.5);
}

.inner-container {
	padding: 2em 1em;
	margin: auto;
	max-width: 50em;
	font-size: 1.2em;
	color: #373737;
}

.project-box {
	text-align: center;
	padding: 1em;
}

.project-desc {
	text-align: justify;
}

.icon-button,
.icon-button:link,
.icon-button:hover,
.icon-button:active,
.icon-button:visited {
	text-decoration: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em 0.75em;
	font-size: 2em;
	border-radius: 50%;
	border: 2px solid #C0B283;
	transition: background 0.5s, color 0.5s;
}

.icon-button,
.icon-button:link,
.icon-button:active,
.icon-button:visited {
	background: white;
	color: #C0B283;
}

.icon-button:hover {
	background: #C0B283;
	color: white;
}

@media screen and (max-width: 768px) {
	.project-box {
			border-bottom: 1px solid #F4F4F4;
	}
}
